.inp:focus {
  box-shadow: 0 0 10px 1000px rgba(120, 164, 217, 0.381);
}

.todoCard {
  width: 50vw;
  padding: 10px;
  background-color: rgb(165, 116, 211);
  margin: 10px auto;
}

.cardIcon {
  cursor: pointer;
  margin-left: 10px;
}
